wsdl_oig/sessionHAEventHandler/SessionHAEventHandler.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mitel.com/oig/session/SessionHAEventHandler" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://mitel.com/oig/session/SessionHAEventHandler" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://mitel.com/oig/session/SessionHAEventHandler" xmlns:ns1="http://mitel.com/oig/session" xmlns:tns="http://mitel.com/oig/session/SessionHAEventHandler" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://mitel.com/oig/session" schemaLocation="session.xsd"/>
      <xs:element name="sessionHAEvent">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="event" type="ns1:sessionHAEventMsg"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sessionHAEventResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="sessionHAEventMessage">
    <wsdl:part name="part" element="tns:sessionHAEvent">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sessionHAEventResponseMessage">
    <wsdl:part name="part" element="tns:sessionHAEventResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SessionHAEventHandlerPortType">
    <wsdl:operation name="sessionHAEvent">
      <wsdl:input message="tns:sessionHAEventMessage">
    </wsdl:input>
      <wsdl:output message="tns:sessionHAEventResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SessionHAEventHandlerBinding" type="tns:SessionHAEventHandlerPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sessionHAEvent">
      <soap:operation soapAction="urn:sessionHAEvent"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SessionHAEventHandler">
    <wsdl:port name="SessionHAEventHandlerPort" binding="tns:SessionHAEventHandlerBinding">
      <soap:address location="http://localhost:8080/axis2/services/SessionHAEventHandler"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
