wsdl_oig/advEventHandler/AdvEventHandlerCCService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mitel.com/oig/cc/advanced/AdvEventHandlerCCService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://mitel.com/oig/cc/advanced/AdvEventHandlerCCService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://mitel.com/oig/cc/advanced/AdvEventHandlerCCService" xmlns:ns1="http://mitel.com/oig/cc/advanced" xmlns:tns="http://mitel.com/oig/cc/advanced/AdvEventHandlerCCService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://mitel.com/oig/cc/advanced" schemaLocation="advanced.xsd"/>
      <xs:element name="advHandleEvent">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="event" type="ns1:advEventMsg"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="advHandleEventResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="advHandleEventMessage">
    <wsdl:part name="part" element="tns:advHandleEvent">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="advHandleEventResponseMessage">
    <wsdl:part name="part" element="tns:advHandleEventResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AdvEventHandlerCCServicePortType">
    <wsdl:operation name="advHandleEvent">
      <wsdl:input message="tns:advHandleEventMessage">
    </wsdl:input>
      <wsdl:output message="tns:advHandleEventResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdvEventHandlerCCServiceBinding" type="tns:AdvEventHandlerCCServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="advHandleEvent">
      <soap:operation soapAction="urn:advHandleEvent"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdvEventHandlerCCService">
    <wsdl:port name="AdvEventHandlerCCServicePort" binding="tns:AdvEventHandlerCCServiceBinding">
      <soap:address location="http://localhost:8080/axis2/services/AdvEventHandlerCCService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
