wsdl_oig/stdEventHandler/EventHandlerCCService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mitel.com/oig/cc/standard/EventHandlerCCService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://mitel.com/oig/cc/standard/EventHandlerCCService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://mitel.com/oig/cc/standard/EventHandlerCCService" xmlns:ns1="http://mitel.com/oig/cc" xmlns:tns="http://mitel.com/oig/cc/standard/EventHandlerCCService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://mitel.com/oig/cc" schemaLocation="cc.xsd"/>
      <xs:element name="handleEvent">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="event" type="ns1:standardEventMsg"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="handleEventResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="handleEventResponseMessage">
    <wsdl:part name="part" element="tns:handleEventResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="handleEventMessage">
    <wsdl:part name="part" element="tns:handleEvent">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EventHandlerCCServicePortType">
    <wsdl:operation name="handleEvent">
      <wsdl:input message="tns:handleEventMessage">
    </wsdl:input>
      <wsdl:output message="tns:handleEventResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EventHandlerCCServiceBinding" type="tns:EventHandlerCCServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="handleEvent">
      <soap:operation soapAction="urn:handleEvent"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventHandlerCCService">
    <wsdl:port name="EventHandlerCCServicePort" binding="tns:EventHandlerCCServiceBinding">
      <soap:address location="http://localhost:8080/axis2/services/EventHandlerCCService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
